<section>
	<div class="sm-angular__desc">
        <h2>디렉티브 예제</h2>
        <div class="sm-angular__desc-detail">
            <strong class="sm-angular__desc-sep-tit">ngFor 디렉티브</strong>
            <ul>
                <li>디렉티브(Directive)는 “DOM의 모든 것(모양이나 동작 등)을 관리하기 위한 지시(명령)”입니다.</li>
                <li>ngIf, ngFor, ngSwitch(빌트인 디렉티브)등이 있습니다.</li>
            </ul>

            <strong class="sm-angular__desc-sep-tit">trackBy - ngFor의 퍼포먼스를 향상시킴 </strong>
            <ul>
                <li>ngFor 디렉티브는 배열 데이터가 변경되면 컬렉션과 연결된 모든 DOM 요소를 제거하고 다시 생성합니다. (컬렉션의 변경 사항을 추적할 수 없기 때문) </li>
                <li>trackBy는 하나의 프로퍼티를 기준으로 컬렉션의 변경을 트래킹하여 퍼포먼스를 향상시킵니다.</li>
                <li>일반적인 경우 ngFor은 충분히 빠르기 때문에 퍼포먼스에 문제가 있는 경우에 사용합니다.</li>
            </ul>

<pre><code>

    # ngFor 구문 사용법(1)
    &lt;ng-template ngFor let-item [ngForOf]="items"&gt; &lt;/ng-template&gt;

    # ngFor 구문 사용법(2)
    &lt;li *ngFor="let item of items; let i=index;"&gt;&lt;/li&gt;

</code></pre>
            
            <div class="sm-angular__desc-detail-console">
                <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code class="typescript">
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__directive-ex"&gt;
            &lt;input type="text" placeholder="이름을 입력하세요" #name&gt;
            &lt;button (click)="addUser(name.value)">add user&lt;/button&gt;

            &lt;ul&gt;
                &lt;li *ngFor="let user of users; let i=index; trackBy: trackByUserId"&gt; &#123; &#123; i &#125; &#125; : &#123; &#123; user.name &#125; &#125; &lt;button (click)="removeUser(user.id)"&gt;delete&lt;/button&gt;&lt;/li&gt;  
            &lt;/ul&gt;
        &lt;/div&gt;
        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;
                                
        users: User&#91;&#93; = &#91;
            &#123; id: 1, name: 'Lee'&#125;,
            &#123; id: 2, name: 'Kim'&#125;,
            &#123; id: 3, name: 'Baek'&#125;,
            &#123; id: 4, name: 'Choi'&#125;
        &#93;;

        //user를 추가한다
        addUser(name: string) &#123;
            if(name)&#123;
                this.users.push(&#123; id: this.getNewUserId(), name &#125;);
            &#125;
        &#125;

        //해당 user를 제거한다
        removeUser(userid: number)&#123;
            this.users = this.users.filter((&#123; id &#125;) => id !== userid );
        &#125;

        //추가될 users의 id를 반환한다
        getNewUserId(): number &#123;
            return this.users.length ? Math.max(...this.users.map((&#123;id&#125;) => id)) + 1 : 1;
        &#125;

        //변경 트래킹 기준을 반환한다
        trackByUserId(index: number, user: User)&#123;
            //user.id를 기준으로 변경을 트래킹한다.
            return user.id; // or index
        &#125;

    &#125;
</code></pre>
                </div>
            </div>
        </div>
        <div class="sm-angular__desc-result">
            <div class="sm-angular__directive-ex">
            	<input type="text" placeholder="이름을 입력하세요" #name>
            	<button (click)="addUser(name.value)">add user</button>

            	<ul>
            		<li *ngFor="let user of users; let i=index; trackBy: trackByUserId">{{ i }} : {{ user.name }} <button (click)="removeUser(user.id)">delete</button></li>	
            	</ul>
            </div>

            <pre>{{ users | json }}</pre>
        </div>
         
    </div>

</section>