<div class="sm-angular">
    <section>
        <h2>개발 환경 구축</h2>
        <div class="sm-angular__desc">
            <ol>
                <li>npm / node.js 설치 <a href="https://nodejs.org/en/" target="_blank" title="npm/node.js 설치하러 가기">[설치]</a></li>
                <li>npm으로 Angular CLI 설치
                    <ul>
                        <li>[설치법] $ npm install -g @angular/cli@latest</li>
                        <li><a href="https://cli.angular.io/" target="_blank" title="Angular CLI 참고사이트 가기">Angular CLI 참고사이트</a></li>
                    </ul>
                </li>
                <li>프로젝트 생성
                    <ul>
                        <li>ng new <em>[project-name]</em></li>
                        <li>스캐폴딩(파일 구조) 생성</li>
                    </ul>
                </li>
                <li>프로젝트 실행 - [로컬 환경] 
                    <ul>
                        <li>ng serve 또는 ng serve -o</li>
                        <li>개발용 서버: <a href="http://localhost:4200/">http://localhost:4200</a> 접속</li>
                    </ul>
                </li>
            </ol>
        </div>
    </section>

    <section>
        <h2>CLI로 생성된 폴더와 파일</h2>
        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">1. 생성되는 폴더와 파일 리스트</strong>

            <div class="sm-angular__desc-detail">
                <div><img src="assets/images/scaffording.png" width="300" alt=""></div>
                <ul>
                    <li>프로젝트를 생성하면 Angular 파일 구조의 스캐폴딩(scaffolding)이 생성</li>
                    <li>node_modules : npm으로 설치되는 패키지가 설치되는 폴더</li>
                    <li>src : 개발자가 실제 소스코드를 추가하는 폴더.</li>
                    <li>angular.json : angular 의 전반적인 설정이 이곳에 들어가며, js, css import, ng 명령어 사용시 생성되는 파일 이름 설정 등을 할 수 있습니다. (angular2에서는 angular-cli.json)</li>
                </ul>
            </div>
        </div>

        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">2. src/ </strong>
            <div class="sm-angular__desc-detail">
                <div><img src="assets/images/src_folder.png" width="300" alt=""></div>
                <ul>
                    <li><span>/app</span>
                        <ul>
                            <li>컴포넌트가 위치하는 폴더</li>
                            <li>프로젝트 생성시, 루트 컴포넌트(app.component.ts)와 루트 모듈(app.module.ts)가 자동으로 생성됩니다.</li>
                            <li>필요시 새 컴포넌트를 생성하고, 컴포넌트 안에 여러 개의 컴포넌트를 생성할 수 있습니다.</li>
                        </ul>
                    </li>
                    <li><span>/assets</span>
                        <ul>
                            <li>앱에 사용되는 이미지를 보관하는 폴더</li>
                        </ul>
                    </li>
                    <li><span>/environments</span>
                        <ul>
                            <li>앱의 환경설정을 입력하는 파일이 존재하며, 개발용(~.ts)/배포용(~.prod.ts) 두 가지가 존재합니다.</li>
                        </ul>
                    </li>
                    <li><span>index.html</span>
                        <ul>
                            <li>자바스크립트 파일 로드를 위한 태그나 필요한 매타태그를 작성합니다.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- <section>
        <h2>컴포넌트 클래스와 템플릿 연동</h2>
        <div class="sm-angular__desc">
            <strong>1. 데이터 바인딩 </strong>
            <div class="sm-angular__desc-result">
                <strong>Welcome to {{title}}!</strong>
            </div>
            <div class="sm-angular__desc-detail">
                <div><img src="assets/images/data_binding.png" alt="" width="1000"></div>
            </div>
        </div>
        <div class="sm-angular__desc">
            <div class="sm-angular__desc-detail">
                <strong>2. 데이터 바인딩과 컴포넌트 클래스에 정의된 이벤트 처리</strong>
                <p>안녕하세요 {{name}}</p>
                <input type="text" placeholder="이름을 입력하세요" #inputName>
                <button (click)="setName(inputName.value)">등록</button>
            </div>
            <div class="sm-angular__desc-detail">
                <div><img src="assets/images/data_binding2.png" alt="" width="1000"></div>
            </div>  
        </div>
    </section> -->

    <section>
        <h2>데이터 바인딩</h2>

        <div class="sm-angular__desc">
            <p class="sm-angular__desc-tit">Angular는 단방향 데이터 바인딩과 양방향 데이터 바인딩을 지원합니다.</p>
            <table class="sm-angular__desc-tbl">
              <thead>
                <tr>
                  <th>데이터 바인딩</th>
                  <th>데이터의 흐름</th>
                  <th>문법</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>인터폴레이션</td>
                  <td>컴포넌트 클래스 ⟹ 템플릿</td>
                  <td><pre>&#123; &#123; expression &#125; &#125;</pre></td>
                </tr>
                <tr>
                  <td>프로퍼티 바인딩</td>
                  <td>컴포넌트 클래스 ⟹ 템플릿</td>
                  <td>[property]=”expression”</td>
                </tr>
                <tr>
                  <td>어트리뷰트 바인딩</td>
                  <td>컴포넌트 클래스 ⟹ 템플릿</td>
                  <td>[attr.attribute-name]=”expression”</td>
                </tr>
                <tr>
                  <td>클래스 바인딩</td>
                  <td>컴포넌트 클래스 ⟹ 템플릿</td>
                  <td>[class.class-name]=”expression”</td>
                </tr>
                <tr>
                  <td>스타일 바인딩</td>
                  <td>컴포넌트 클래스 ⟹ 템플릿</td>
                  <td>[style.style-name]=”expression”</td>
                </tr>
                <tr>
                  <td>이벤트 바인딩</td>
                  <td>컴포넌트 클래스 ⟸ 템플릿</td>
                  <td>(event)=”statement”</td>
                </tr>
                <tr>
                  <td>양방향 데이터 바인딩</td>
                  <td>컴포넌트 클래스 ⟺ 템플릿</td>
                  <td>[(ngModel)]=”property”</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">1. 인터폴레이션</strong>
            <ul>
                <li>템플릿 문법으로 표현식의 평과 결과를 문자열로 변환하여 템플릿에 바인딩합니다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;
            &lt;ul&gt;
              &lt;li&gt;name : {{ name }} &lt;/li&gt;
              &lt;li&gt;age : {{ age }} &lt;/li&gt;
              &lt;li&gt;admin : {{ admin }} &lt;/li&gt;
              &lt;li&gt;address : {{ address.city }} {{ address.contry }} &lt;/li&gt;
              &lt;li&gt;gender : {{ gender }} &lt;/li&gt;
              &lt;li&gt;say to : {{ sayHi() }} &lt;/li&gt;
              &lt;li&gt;Expression : {{ age / 2 }} &lt;/li&gt;
              &lt;li&gt;인터폴레이션 : {{ '단방향 데이터 바인딩, 문자열로 변환하여 바인딩' }} &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;
                                
        name = "Angular"&#59;
        age = "20"&#59;
        admin = true&#59;
        address = &#123;
            city : 'Seoul',
            country: 'Korea'
        &#125;
        sayHi&#40;&#41;&#123;
            return 'Hi My name is &#36;&#123;this.name&#125;'&#59;
        &#125;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <ul>
                      <li>name : {{ name }} </li>
                      <li>age : {{ age }} </li>
                      <li>admin : {{ admin }} </li>
                      <li>address : {{ address.city }} {{ address.contry }}</li>
                      <li>gender : {{ gender }} </li>
                      <li>say to : {{ sayHi() }} </li>
                      <li>Expression : {{ age / 2 }} </li>
                      <li>인터폴레이션 : {{ '단방향 데이터 바인딩, 문자열로 변환하여 바인딩' }} </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">2. 프로퍼티 바인딩</strong>
            <ul>
                <li>템플릿 문법으로 표현식의 평과 결과를 HTML 요소의 DOM 프로퍼티에 바인딩합니다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;
            &lt;input type="text" &#91;value&#93;="inputValue"&gt;
            &lt;p &#91;innerHTML&#93;="contents">&lt;/p&gt;
            &lt;button type="button" &#91;disabled&#93;="isdisabled">disabled button&lt;/button&gt;
        &lt;/div&gt;
        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;
                                
        inputValue = 'angular study'&#59;
        contents = 'innerHTML property binding text'&#59;
        isdisabled = true&#59;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <ul>
                        <input type="text" [value]="inputValue">
                        <p [innerHTML]="contents"></p>
                        <button type="button" [disabled]="isdisabled">disabled button</button>
                    </ul>
                </div>
            </div>
        </div>


        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">3. 어트리뷰트 바인딩</strong>
            <ul>
                <li>템플릿 문법으로 표현식의 평과 결과를 HTML 어트리뷰트에 바인딩합니다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;
            &lt;input type="text" [attr.value]="attrValue"&gt;                     
            &lt;table border="1"&gt;
                &lt;tr&gt;
                &lt;td [attr.colspan]="number"&gt;title&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                &lt;td&gt;Angualr&lt;/td&gt;
                &lt;td&gt;Javascript&lt;/td&gt;
                &lt;/tr&gt;
            &lt;/table&gt;
        &lt;/div&gt;
        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;

        attrValue = 'angular6'&#59;
        number = 2&#59;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <input type="text" [attr.value]="attrValue">
                    
                    <table border="1">
                        <tr>
                        <td [attr.colspan]="number">title</td>
                        </tr>
                        <tr>
                        <td>Angualr</td>
                        <td>Javascript</td>
                        </tr>  
                    </table>
                </div>
            </div>
        </div>


        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">4. 클래스 바인딩</strong>
            <ul>
                <li>클래스 attribute에 클래스를 추가/삭제 할 수 있습니다.</li>
                <li>단항 클래스 바인딩 / 다항 클래스 바인딩</li>
                <li>단항 : 왼쪽에는 [class.반영할 클래스명], 오른쪽에는 참/거짓으로 평가될 수 있는 표현식을 바인딩합니다.</li>
                <li>다항 : 좌변에는 [class]를 지정하고, 우변에 클래스의 리스트(문자열)를 바인딩합니다. 기존 class어트리뷰트는 클래스 바인딩에 의해 리셋됩니다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;

            &lt;div [class.largeText]="isLarge"&gt;largeText 스타일 적용된 텍스트&lt;/div&gt;
            &lt;div class="smallText" [class]="myClasses"&gt;여러 스타일 적용된 텍스트&lt;/div&gt;

        &lt;/div&gt;

        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;

        attrValue = 'angular6'&#59;
        number = 2&#59;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <div [class.largeText]="isLarge">largeText 스타일 적용된 텍스트</div>
                    <div class="smallText" [class]="myClasses">여러 스타일 적용된 텍스트</div>
                </div>
            </div>
        </div>


        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">5. 스타일 바인딩</strong>
            <ul>
                <li>좌변에 반영한 css프로퍼티를 입력하고, 우변에 CSS 프로퍼티의 값으로 평가될 수 있는 표현식을 바인딩한다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;

            &lt;div [style.font-size.px]="'20'"&gt;폰트사이즈 20&lt;/div&gt;
            &lt;div [style.background-color]="'#f0f0f0'"&gt;배경색&lt;/div&gt;
            &lt;div [style.color]="isActive ? '#ff9800':'#1976D2'"&gt;폰트컬러 선택&lt;/div&gt;

        &lt;/div&gt;

        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;

        isActive = false&#59;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <div [style.font-size.px]="'20'">폰트사이즈 20</div>
                    <div [style.background-color]="'#f0f0f0'">배경색</div>
                    <div [style.color]="isActive ? '#ff9800':'#1976D2'">폰트컬러 선택</div>
                </div>
            </div>
        </div>


        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">6. 이벤트 바인딩</strong>
            <ul>
                <li>좌변에 반영한 css프로퍼티를 입력하고, 우변에 CSS 프로퍼티의 값으로 평가될 수 있는 표현식을 바인딩한다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;

            &lt;input type="text" [value]="testName" (input)="setTestName($event)"&gt;
            &lt;button (click)="removeTestName()">Remove&lt;/button&gt;
            &lt;div>Text : {{ testName }}&lt;/div&gt;

        &lt;/div&gt;

        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;

        testName = ''&#59;

        setTestName(ev)&#123;
            this.testName = ev.target.value&#59;
        &#125;

        removeTestName()&#123;
            this.testName = ''&#59;
        &#125;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <input type="text" [value]="testName" (input)="setTestName($event)">
                    <button (click)="removeTestName()">Remove</button>
                    <div>Text : {{ testName }}</div>
                </div>
            </div>
        </div>


        <div class="sm-angular__desc">
            <strong class="sm-angular__desc-sep-tit">7. 양방향 바인딩</strong>
            <ul>
                <li>뷰와 컴포넌트 클래스의 상태 변화를 상호 반영하는 것.</li>
                <li>좌변에는 [(ngModule)](ngModule디렉티브), 우변에는 뷰와 컴포넌트 클래스가 공유할 프로퍼티를 기술합니다.</li>
                <li>ngModule 디렉티브를 사용하기 위해서는, FormsModule 모듈을 임포트해야 합니다.</li>
                <li>양방향 데이터 바인딩은 ngModule 디렉티브만 사용해야 하는 것은 아니며, 커스텀 양방향 데이터 바인딩도 작성할 수 있습니다.</li>
            </ul>
            
            <div class="sm-angular__desc-detail">
                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
import &#123; BrowserModule &#125; from '&#64;angular/platform-browser';
import &#123; NgModule &#125; from '&#64;angular/core';
import &#123; FormsModule &#125; from '&#64;angular/forms';

import &#123; AppComponent &#125; from './app.component';
import &#123; HomeComponent &#125; from './home/home.component';

@NgModule(&#123;
  declarations: [
    AppComponent,
    HomeComponent
  ],
  imports: [
    BrowserModule,
    FormsModule
  ],
  providers: [],
  bootstrap: [AppComponent]
&#125;)
export class AppModule &#123; &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>

                <div class="sm-angular__desc-detail-console">
                    <div class="sm-angular__language-typescript">
<!-- source view-->
<pre><code>
    import &#123; Component &#125; from '&#64;angular&#47;core'&#59;
    &#64;Component&#40;&#123;
      selector: 'app-root',
      templateUrl:&#96;
        &lt;div class="sm-angular__binding-ex"&gt;

            &lt;input type="text" &#91;(ngModel)&#93;="longText"&gt;
            &lt;div&gt;address: &#123; &#123; longText &#125; &#125; &lt;/div&gt;

        &lt;/div&gt;

        &#96;,
      styleUrls: &#91;'.&#47;app.component.css'&#93;
    &#125;&#41;

    export class AppComponent &#123;

        longText = ''&#59;

    &#125;
</code></pre>
<!--//source view-->
                    </div>
                </div>
            </div>

            <div class="sm-angular__desc-result">
                <div class="sm-angular__binding-ex">
                    <input type="text" [(ngModel)]="longText">
                    <div>address: {{ longText }}</div>
                </div>
            </div>
        </div>
    </section>
</div>